<div class ="nav">
  <a class="navlink" href="{{site.baseurl}}/">Home</a>
  <a class="navlink" href="{{site.baseurl}}/aboutme">over mij</a>
  <a class="navlink" href="{{site.baseurl}}/learningplan">leer planning</a>
  <a><div class="dropdown">
    <a  class="dropbtn navlink" href="{{site.baseurl}}/project/intersect">R&D project</a>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/project/">test</a>
      <a href="{{site.baseurl}}/project/">test2</a>
      <a href="{{site.baseurl}}/project/">test3</a>
    </div>
  </div></a>
  <a><div class="dropdown">
    <a class="dropbtn navlink" href="{{site.baseurl}}/banking_app/app">bankieren app</a>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/banking_app/vacatures">vacatures</a>
      <a href="{{site.baseurl}}/banking_app/riskanalysis">risico analyse</a>
      <a href="{{site.baseurl}}/banking_app/misusecase">misusecases</a>
      <a href="{{site.baseurl}}/banking_app/dpia">dpia</a>
      <a href="{{site.baseurl}}/banking_app/securityprinciples">security principes</a>
      <a href="{{site.baseurl}}/banking_app/regex">regex</a>
      <a href="{{site.baseurl}}/banking_app/aes">AES</a>
    </div>
  </div></a>
</div>