<div class ="nav">
  <a href="{{site.baseurl}}/">Home</a>
  <a href="{{site.baseurl}}/aboutme">over mij</a>
  <a href="{{site.baseurl}}/learningplan">leer planning</a>
  <a><div class="dropdown">
    <a class="dropbtn" href="{{site.baseurl}}/intersect">R&D project</a>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/">test</a>
      <a href="{{site.baseurl}}/">test2</a>
      <a href="{{site.baseurl}}/">test3</a>
    </div>
  </div></a>
  <a><div class="dropdown">
    <a class="dropbtn" href="{{site.baseurl}}/app">bankieren app</a>
    <div class="dropdown-content">
      <a href="{{site.baseurl}}/">test</a>
      <a href="{{site.baseurl}}/">test2</a>
      <a href="{{site.baseurl}}/">test3</a>
    </div>
  </div></a>
</div>