<div class ="nav">
  <a class="navlink" href="{{site.baseurl}}/">Home</a>
  <a class="navlink" href="{{site.baseurl}}/aboutme">over mij</a>
  <a><div class="dropdown">
    <a  class="dropbtn navlink" href="{{site.baseurl}}/planning/learningplan">leerplanning</a>
    <ul class="dropdown-content">
      <li><a href="{{site.baseurl}}/planning/learningplan">leerplanning</a></li>
      <li><a href="{{site.baseurl}}/planning/vacatures">vacatures</a></li>
      <li><a href="{{site.baseurl}}/planning/masters">master</a></li>
      <li><a href="{{site.baseurl}}/planning/retrospective">retrospective</a></li>
    </ul>
  </div></a>
  
  <a><div class="dropdown">
    <a  class="dropbtn navlink" href="{{site.baseurl}}/project/intersect">R&D project</a>
    <ul class="dropdown-content">
      <li><a href="{{site.baseurl}}/project/preliminary_research">vooronderzoek</a></li>
      <li><a href="{{site.baseurl}}/project/research_approach">onderzoeksaanpak</a></li>
      <li><a href="{{site.baseurl}}/project/guideline_research">guideline onderzoek</a></li>
      <li><a href="{{site.baseurl}}/project/airscrubber">subprojecten</a>
        <ul class="dropdown-content-level-2">
          <li><a href="{{site.baseurl}}/project/airscrubber">airscrubber</a></li>
          <li><a href="{{site.baseurl}}/project/smart_screen">smart screen</a></li>
          <li><a href="{{site.baseurl}}/project/website">website</a></li>
          <li><a href="{{site.baseurl}}/project/article">artikel</a></li>
        </ul></li>
      <li><a href="{{site.baseurl}}/project/intersct20">intersct20</a></li>
      <li><a href="{{site.baseurl}}/project/sprint_retrospective">sprint retrospective</a>
        <ul class="dropdown-content-level-2">
          <li><a href="{{site.baseurl}}/project/sprint_retrospective">sprint retrospective</a></li>
          <li><a href="{{site.baseurl}}/project/peer_reviews">peer review</a></li>
      </ul></li>
      
    </ul>
  </div></a>
  <a><div class="dropdown">
    <a class="dropbtn navlink" href="{{site.baseurl}}/banking_app/app">bankieren app</a>
    <ul class="dropdown-content">
      <li><a href="{{site.baseurl}}/banking_app/riskanalysis">ontwerp</a>
        <ul class="dropdown-content-level-2">
          <li><a href="{{site.baseurl}}/banking_app/riskanalysis">risico analyse</a></li>
          <li><a href="{{site.baseurl}}/banking_app/misusecase">misuse cases</a></li>
          <li><a href="{{site.baseurl}}/banking_app/dpia">dpia</a></li>
        </ul> </li>
      <li><a href="{{site.baseurl}}/banking_app/securityprinciples">security principes</a></li>
      <li><a href="{{site.baseurl}}/banking_app/aes">encryptie</a>
        <ul class="dropdown-content-level-2">
        <li><a href="{{site.baseurl}}/banking_app/aes">AES</a></li>
        <li><a href="{{site.baseurl}}/banking_app/rsa">RSA</a></li>
        </ul></li>
      <li><a href="{{site.baseurl}}/banking_app/test_approach">code analysis</a>
        <ul class="dropdown-content-level-2">
          <li><a href="{{site.baseurl}}/banking_app/test_approach">test aanpak</a></li>
        <li><a href="{{site.baseurl}}/banking_app/code_analysis">code analyse</a></li>
        <li><a href="{{site.baseurl}}/banking_app/fuzzing">fuzzing</a></li>
        <li><a href="{{site.baseurl}}/banking_app/red_vs_blue">red vs blue</a></li>
        </ul></li>
      <li><a href="{{site.baseurl}}/banking_app/recaptcha">login security</a>
        <ul class="dropdown-content-level-2">
          <li><a href="{{site.baseurl}}/banking_app/recaptcha">captcha</a></li>
          <li><a href="{{site.baseurl}}/banking_app/two-factor">two-factor authenticatie</a></li>
          <li><a href="{{site.baseurl}}/banking_app/regex">regex</a></li>
        </ul></li>
        <li><a href="{{site.baseurl}}/banking_app/logging">overig</a>
          <ul class="dropdown-content-level-2">
            <li><a href="{{site.baseurl}}/banking_app/logging">security logging</a></li>
            <li><a href="{{site.baseurl}}/banking_app/settings">conf. opties en env. variabele</a></li>
            <li><a href="{{site.baseurl}}/banking_app/docker_security">docker beveiliging</a></li>
          </ul></li>
    </ul>
  </div></a>
  <a class="navlink" href="{{site.baseurl}}/evaluation">evaluatie</a>
</div>